extends layout

block content
  h1= title
  p Greetings, Earthling! Welcom to #{title}
  p Amaninder
  
  ul
    li C++
    li java
    li JavaScript
    
  a(class='button', href='http://amaninder.greenrivertech.net/305/Resume.html') Resume