body {
  background: #f9e933;
  font-family: sans-serif;
  margin: 0 0 0 0;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  color: red;
  font-family: 'Denk One', sans-serif;
}

header nav {
  float: right;
  width: 285px;
  margin-top: 15px;
}

main {
  background: white;
  overflow: auto;
  margin-bottom: 50px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}


footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}

a:link{
    color: red;
    text-decoration: none;
}
a:visited {
    color: tomato;
}
hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: medium;
}

/* faq css
.answer {
    display:none;
}*/


h3 {
    line-height:24px;
    font-size:18px;
    font-weight:700;
    color:rgb(100,150,200);
    padding-left:24px;
    cursor:pointer;
    background-image:url('images/open.png');
    background-position:left;
    background-repeat:no-repeat;
}
h3.close {
    background-image:url('images/close.png');
}