body {
  background: #f9e933;
  font-family: sans-serif;
  margin: 0 0 0 0;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  color: red;
  font-family: 'Denk One', sans-serif;
}

header nav {
  float: right;
  width: 285px;
  margin-top: 15px;
}

main {
  background: white;
  overflow: auto;
  margin-bottom: 50px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}
li{
    list-style: none
}
.content li {
    list-style: none;
    background: #ADD8E6;
    margin-bottom: 10px;
    width:285px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
    display: block;
}
footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}
footer .a
{
    line-height: 140; 
}
footer .ul
{
    width: 230px;
}
.fleft{
    float: left;
}
footer .sitemap .fright{
    float: right;
}


a:link{
    color: red;
    text-decoration: none;
}
a:visited {
    color: tomato;
}
hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: medium;
}
p {
  margin-bottom: 10px;
}

input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
  margin: 5px;
}
button {
  
  border-radius: 5px;
  color: ivory;
  background: #808080;
  cursor: pointer;
  font-size: 1.5em;
 margin-left: 5px;
  font-weight: bold;
  padding: 3px;
  float: right !important;
  
}

/* tabs css */
.content{
    width: 500px;
    background: #ddd;
    margin-top: 0em;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.tabs a span{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding:5px;
}

.tabs a span.active{
    background: #eee;
}
/* faq css*/
.answer {
    display:none;
    padding-left:35px;
}


h3 {
    line-height:24px;
    font-size:18px;
    font-weight:700;
    color:rgb(100,150,200);
    padding-left:24px;
    cursor:pointer;
    background-image:url('../images/open.png');
    background-position:left;
    background-repeat:no-repeat;
}
h3.close {
    background-image:url('../images/close.png');
}